@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lateef";
  src: url("./fonts/Lateef-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Swissra";
  src: url("./fonts/alfont_com_AlFont_com_Swissra-Medium-1.otf");
  font-style: normal;
}
@font-face {
  font-family: "Ibm";
  src: url("./fonts/IBMPlexSansArabic-SemiBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "IbmBold";
  src: url("./fonts/IBMPlexSansArabic-Bold.ttf");
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

#swissra {
  font-family: "Swissra";
}
#lateef {
  font-family: "Lateef";
}
#ibm {
  font-family: "Ibm";
}
#ibmBold {
  font-family: "IbmBold";
}
.next {
  width: 300%;
}
